* {
    box-sizing: border-box;
}

.board {
    background: url('../img/puzzle_1920x1080.jpg') no-repeat;
    background-size: cover;

    height: 1080px;
    width: 1920px;
}


.tile {
    position: absolute;
    
    width: 480px;
    height: 360px;

    background: url("../img/card_bg.png") no-repeat;
    background-size: 100% 100%;
}

/*
.tile::after {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/card_icon.png") no-repeat;
    background-position: center center;
    content: "";
    opacity: 0.15;
}
*/

.transparent {
    position: absolute;
    
    width: 480px;
    height: 360px;

    background-color: transparent;
    border: none;
}


/* VINHETAS */

.tunnel-tile {
    position: absolute;
    
    width: 480px;
    height: 360px;
	/*float: left;*/

    background-image: radial-gradient( ellipse, transparent 50%, #000 90%);
    /*background: url("../img/card_tunnel.png") no-repeat;
    background-size: 100% 100%;*/
}



/*classes para posicionar os tiles*/
.p1 {
    top: 0;
    left: 0;
}
.p2 {
    top: 0;
    left: 480px;
}
.p3 {
    top: 0;
    left: 960px;
}
.p4 {
    top: 0;
    left: 1440px;
}
.p5 {
    top: 360px;
    left: 0;
}
.p6 {
    top: 360px;
    left: 480px;
}
.p7 {
    top: 360px;
    left: 960px;
}
.p8 {
    top: 360px;
    left: 1440px;
}
.p9 {
    top: 720px;
    left: 0;
}
.p10 {
    top: 720px;
    left: 480px;
}
.p11 {
    top: 720px;
    left: 960px;
}
.p12 {
    top: 720px;
    left: 1440px;
}