* {
    box-sizing: border-box;
}

.board {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    
    /*display: flex;
    flex-flow: row wrap;*/
    
    /*box-shadow: ;*/
    
    
    /*width: 44rem*/
}

.tile {
    /*flex: 0 0 auto;*/
    position: absolute;
    
    width: 25vw;
    height: 33.333vh;
    background: pink;
    border: 1px solid black;
    
}

.transparent {
    width: 25vw;
    height: 33.333vh;

    background-color: transparent;
    border: none
    
}


/*classes para posicionar os tiles*/
.p1 {
    top: 0;
    left: 0;
}
.p2 {
    top: 0;
    left: 25vw;
}
.p3 {
    top: 0;
    left: 50vw;
}
.p4 {
    top: 0;
    left: 75vw;
}
.p5 {
    top: 33.333vh;
    left: 0;
}
.p6 {
    top: 33.333vh;
    left: 25vw;
}
.p7 {
    top: 33.333vh;
    left: 50vw;
}
.p8 {
    top: 33.333vh;
    left: 75vw;
}
.p9 {
    top: 66.666vh;
    left: 0;
}
.p10 {
    top: 66.666vh;
    left: 25vw;
}
.p11 {
    top: 66.666vh;
    left: 50vw;
}
.p12 {
    top: 66.666vh;
    left: 75vw;
}


.imagem {
    position: absolute;
    top: 0;
    left: 0;
    z-index:-999;
    
    /*width: 100vw;*/
    height: 100vh;
    overflow: hidden;
}

img {
    /*width: inherit;*/
    height: inherit;
}